<div class="container">
   <div class="container-header">
      <h1>Flight Simulator</h1>
      <h2>Current Flight Status</h2>
      <p>{{message}}</p>
      <h2>Shuttle Trajectory</h2>
   </div>
   <div class="row justify-content-center">
      <div class="col-3">
         <div class="container-left">
            <h3>Fuel Levels</h3>
            <p>Tank Full</p>
            <h3>Astronaut Chat</h3>
            <p>Houston, we are ready when you are!</p>
         </div>
      </div>

      <div class="col-6" [style.backgroundColor]="color">
         <div class="shuttle-background" style="background-color: green">
            <img #rocketPic src="assets/images/LaunchCode_rocketline_white.png" height = "75" width = "75" [style.left]="0" [style.bottom]="0"/>
         </div>
      </div>

      <div class="col-3">
         <div *ngIf="!takeOffEnabled" class="container-right"b>
            <button (click)="moveRocket(rocketPic, 'up')" (click)="proximityWarning()">Up</button>
            <button (click)="moveRocket(rocketPic, 'down')" (click)="proximityWarning()">Down</button>
            <button (click)="moveRocket(rocketPic, 'right')" (click)="proximityWarning()">Right</button>
            <button (click)="moveRocket(rocketPic, 'left')" (click)="proximityWarning()">Left</button>
            <h3>Space Shuttle Height</h3>
            <p>{{height}} km</p>
         </div>
      </div>
   </div>
   <div class="container-control-buttons">
      <button [disabled]="!takeOffEnabled" (click)="handleTakeOff()">Take Off</button>
      <button [disabled]="takeOffEnabled" (click)="handleLand(rocketPic)">Land</button>
      <button [disabled]="takeOffEnabled" (click)="handleAbort(rocketPic)">Abort Mission</button>
   </div>
</div>